body {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

.typewriter-text {
  --glow-color: rgb(62, 42, 241);
  --glow-spread-colour: rgba(29, 90, 204, 0.964);
  --enhanced-glow-color: rgb(59, 211, 150);
  --btn-color: rgb(195, 196, 201);
  border-right: solid 3px rgba(18, 92, 203, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #fff;
}

.typewriter-text {
  animation: animated-text 4s steps(30,end) 1s 1 normal both,
    animated-cursor 400ms steps(30, end) infinite;
}

.typewriter-text:hover{
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
  0 0 4em 2em var(--glow-spread-colour),
  inset 0 0 0.75em 0.25em var(--glow-color);
}

.neon-text {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 30px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 310px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
